<div class="span7">
  <button class="btn btn-primary btn-large" onclick='fire_and_forget("insert_event")'>Insert Event</button>
</div>
<div class="span5">
  <div class="hero-unit" id="return_block">
    asdf
  </div>
</div>
